<header>
	<img src="image" alt="Logo" />
	<ul>
		<li><a href="#">Placeholder</a></li>
		<li><a href="#">Placeholder</a></li>
		<li><a href="#">Placeholder</a></li>
		<li><a href="#">Placeholder</a></li>
	</ul>
</header>
<main>
	<h1>What can we help you with today?</h1>
	<button>Physical and Emotional Health</button>
	<button>Financial and Employment</button>
	<button>Family and Life</button>
	<button>Vets Empowered</button>
	<img src="image" alt="Search" />
</main>
<footer>
	<a href="#">&larr;Back</a>
	<a href="#">Emergency Services</a>
</footer>