@{
    ViewData["Title"] = "Home Page";
}

<main id="app" class="fifty center">Loading...</main>
<div id="overlay" onclick="toggleApp()"></div>

@section scripts {
    <script src="@Url.Content("~/js/appbundle.js")"></script>
    <script>
        var toggleApp = function() {
            var app = document.getElementById('app');
            var overlay = document.getElementById('overlay');
            if(overlay.style.display == "block"){
                overlay.style.display = "none";
                app.style.display = "none";
            } else {
                overlay.style.opacity = .8;
                overlay.style.display = "block";
                app.style.display = "block";
            }
        }
    </script>
}
